.changeableTitle {
  display: flex;
  align-items: center;

  &TitleWrapper {
    height: 48px;
    display: flex;
    align-items: center;
  }

  &Text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #667180;
  }

  &Icon {
    margin-left: 16px;

    &:hover {
      cursor: pointer;
    }
  }

  &Input {
    background: transparent;
    height: 48px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
    padding: 0 16px;
    border: 1px solid #667180;
    border-radius: 12px;
    min-width: 100px;
  }
}
