.calculator {
  background: radial-gradient(63.76% 100% at 100% 100%, #202737 0%, #1B1F26 100%);
  border-radius: 12px;
  padding: 20px 24px;

  &Title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 0 12px 0;
  }

  &Result {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 22px;
  }

  &__box{
    width: 460px;

    &:first-of-type{
      margin-right: 14px;
    }
  }

  &__inputRow{
    display: flex;
  }

  &__inputCol {
    &:last-of-type{
      padding-left: 8px;
    }
    &:first-of-type{
      padding-right: 8px;
    }
  }
}

.label {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #667180;
  margin-bottom: 4px;
}

.inputWrapper {
  width: 100%;
  padding: 12px 11px;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #0D1114;
}

.input {
  background-color: transparent;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  flex-grow: 1;

  &::placeholder {
    color: #303740;
  }

  &:focus {
    background-color: transparent;
  }
}

.inputIcon {
  position: absolute;
  right: 12px;
  width: 38px;
  text-align: right;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #667180;
}


.walletLabel {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #667180;
  margin-bottom: 8px;
  display: inline-block;
}

.wallet {
  display: flex;
  align-items: center;

  &Qr {
    width: 55px;
    height: 55px;
    background: #303740;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;

    &:hover {
      cursor: pointer;
    }
  }

  &QrCodeImage {
    //width: 320px;
    //height: 320px;
    object-fit: contain;
  }

  &CloseModal {
    position: absolute;
    right: 24px;
    top: 24px;

    &:hover {
      cursor: pointer;
    }
  }
}

.table {
  display: flex;
  flex-direction: column;
}

.tableItem {
  display: flex;
  border-radius: 12px;
  position: relative;
  width: 100%;
  padding: 18px 0;
}

.tableItemHeader {
  display: flex;
  padding: 24px 0;
  width: calc(100vw - 370px);
}

.item {
  display: flex;
  align-items: center;


  &:nth-child(1) {
    width: 40%;

    & img {
      margin-right: 12px;
      background-color: #1B1F26;
      border-radius: 50%;
    }
  }


  &:nth-child(2) {
    width: 20%;
  }

  &:nth-child(3) {
    width: 15%;
  }

  &:nth-child(4) {
    width: 15%;
    justify-content: flex-end;
  }

  &Head {
    display: block;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #667180;
  }

  &Text {
    display: block;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
  }
}
