.card {
  background: radial-gradient(63.76% 100% at 100% 100%, #222C27 0%, #1B1F26 100%);
  border-radius: 12px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;

  &Name {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
  }

  &Data {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin: 4px 0;
  }

  &AdditionalData {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #667180;
  }
}
