.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
  flex-wrap: wrap;
}

.col {
  width: 33.3%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 24px;
}


.bankCard {
  width: 100%;
  background: radial-gradient(63.76% 100% at 100% 100%, #222C27 0%, #1B1F26 100%);
  border-radius: 12px;
  padding: 20px 24px;
  transition: .3s;
  transform: translateY(0px);

  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
  }

  &Header {
    display: flex;
    align-items: center;
  }

  &Logo {
    margin-right: 12px;
  }

  &Title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
  }

  &List {
    padding: 0;
  }

  &ListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &ListText {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    flex-grow: 1;

    &:first-of-type {
      max-width: 40%;
      width: 100%;
    }
  }
}


.bankModal {

  &Close {
    position: absolute;
    top: 24px;
    right: 24px;

    &:hover {
      cursor: pointer;
    }
  }

  &Text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;

    &:first-of-type {
      margin-bottom: 12px;
    }
  }

  &TextG {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #667180;
    margin: 0;

    &:first-of-type {
      margin-top: 12px;
    }
  }

  &List {
    background: #303740;
    border-radius: 12px;
    padding: 20px 24px;

    &TransparentBg {
      background: transparent;
      padding: 0 0 32px 0;
      border-radius: 0;
      border-bottom: 1px solid #303740;
    }
  }

  &ListItem {
    display: flex;
    align-items: center;
    padding-bottom: 12px;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &ListText {
    display: flex;
    align-items: center;
    max-width: 50%;
    width: 100%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

    &ButtonType {
      &:hover {
        cursor: pointer;
      }
    }

    &Green {
      color: #91F230;
    }
  }

  &Buttons {
    display: flex;
    justify-content: space-between;
  }

  &Delete {
    display: flex;
    align-items: center;
    background: transparent;
    color: #F22451;

    & svg {
      margin-right: 10px;
    }
  }
}

.switchers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchByCard {
  display: flex;
  max-width: 720px;
  width: 100%;
  margin-right: -15px;
  margin-left: -15px;

  &Item {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
