
.table {
  display: flex;
  flex-direction: column;
}

.tableItem {
  display: flex;
  position: relative;
  width: calc(100% + 4px);
  margin-left: -14px;
  padding: 14px;

  &:hover {
    cursor: pointer;
    background-color: #1B1F26;
  }
}

.tableItemHeader {
  display: flex;
  padding: 24px 32px 24px 0;
  min-width: 1170px;
}

.item {
  display: flex;
  align-items: center;


  &:nth-child(1) {
    width: 30%;

    & img {
      margin-right: 12px;
      background-color: #1B1F26;
      border-radius: 50%;
    }
  }


  &:nth-child(2) {
    width: 23%;
  }

  &:nth-child(3) {
    width: 21%;
  }

  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    width: 13%;
    justify-content: flex-end;
  }

  &Head {
    display: block;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #667180;
  }

  &Text {
    display: block;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
  }
}

.searchByCard {
  display: flex;
  max-width: 720px;
  width: 100%;
  margin-right: -15px;
  margin-left: -15px;

  &Item {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.switchCardButtons {
  display: flex;
  align-items: center;

  &Button {
    margin-left: 10px;

    &:hover {
      cursor: pointer;
    }

  }
}
