.inputWrapper {
  position: relative;
  width: 100%;
}

.label {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #667180;
  margin-bottom: 4px;
}

.input {
  width: 100%;
  padding: 14px 11px;
  border-radius: 12px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;

  &::placeholder {
    color: #303740;
  }
}

.icon {
  position: absolute;
  width: 30px;
  right: 10px;
  bottom: 10px;
}

.errorText {
  position: absolute;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  color: #F22451;
  margin: 0;
}

.button {
  padding: 12px 48px;
  width: 100%;
  height: 48px;
  background: #91F230;
  border-radius: 12px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #0D1114;

  &:active {
    opacity: .8;
  }
}

.outlineButton {
  background-color: transparent;
  border: 1px solid #303740;
  border-radius: 12px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #91F230;
  padding: 12px 24px;

  &:hover {
    border: 1px solid #91F230;
  }
}

.title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  margin: 0;
}

.subtitle {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
  margin: 0;
}

.switcher {
  display: flex;

  &Column {
    flex-direction: column;
  }

  &Label {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-right: 12px;
    display: inline-block;
  }
}

.select {
  position: relative;
  width: 100%;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 0 16px;

  &:hover {
    cursor: pointer
  }

  &Icon {
    margin-left: 10px;
  }

  &CustomIcon {
    margin-right: 10px;
  }

  &Output {
    width: 100%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    display: block;
    //padding: 0 16px;

    &::placeholder {
      color: #303740;
    }
  }

  &List {
    position: absolute;
    width: 100%;
    background: #303740;
    border-radius: 12px;
    padding: 8px 0;
    top: 43px;
    right: 0;
    left: 0;
    z-index: 100;
  }

  &Item {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    transition: .3s;

    &:hover {
      background-color: #0D1114;
      cursor: pointer;
      transition: .3s;
    }
  }
}

.clipBoard {
  display: flex;
  align-items: center;

  &Output {
    width: 460px;
    background: #303740;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
  }

  &Text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
  }

  &Icon {

    &:hover {
      cursor: pointer;
    }
  }
}
