.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 16px 32px 16px 16px;
  width: fit-content;
}

.error {
  background-color: #F22451;
}

.success {
  background-color: #4972CF;
}

.alert {

  display: flex;
  align-items: center;

  &Text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
  }

  &Close {
    position: absolute;
    top: 25px;
    right: 25px;

    &:hover {
      cursor: pointer;
    }
  }
}
