.wrapper {
  display: flex;
  height: 100vh;
}

.logo {
  display: inline-block;
  margin-bottom: 70px;
}

.sidebar {
  width: 240px;
  background: #1B1F26;
  padding: 40px 16px;
}

.pageContent {
  min-width: 1170px;
  width: calc(100vw - 240px);
  overflow: hidden;
  overflow-y: auto;
  padding: 0 48px;

  &::-webkit-scrollbar {
    width: 5px;
    background: #1B1F26;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #91F230;
  }
}
